body {
    background-color: rgb(212, 142, 56);
}
#search-button{
    background-color: blue;
    height:30px;
    width:30px;
    border-radius: 15px;
}
#icon-display{
    background-color: blue;
    height:250px;
    width:250px;
}