body {
    background-color: rgb(212, 142, 56);
}
#search-button{
    background-color: blue;
    height:30px;
    width:30px;
    border-radius: 15px;
}
#icon-display{
    background-color: blue;
    height:250px;
    width:250px;
}
#forcast-holder {
    display:flex;
    flex-direction: row;
    background-color: rgb(127, 197, 255);
    gap:10px;
    width:fit-content;
}

.daycard {
    background-color: aqua;
    height:100px;
    width:100px;
    display:flex;
    flex-direction: column;
    
}