body {
    background-color: rgb(63, 61, 153);
}
#search-button{
    background-color: blue;
    height:30px;
    border-radius: 15px;
}
#input-div{
    display:flex;
    flex-direction:row;
    gap:30px;
}
.units{
    background-color: darkblue;
    height:30px;
    width:60px;
    border-radius: 15px;
    display:flex;
}
h1{
    margin: 0px 0px;
    font-size: larger;
    color:aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.selector {
    background-color: blue;
    height:30px;
    width:30px;
    border-radius: 15px;
    color:aliceblue;
    align-items: center;
    justify-content:center;
    display:flex;
}
#icon-display{
    background-color: rgb(0, 0, 187);
    height:250px;
    width:250px;
    border-radius: 10px;
    border:2px white solid;
}
#today-display{
    background-color: rgb(0, 0, 187);
    display:grid;
    grid-template-columns: auto 100px 150px;
    width: auto;
    color:aliceblue;
    border-radius: 10px;
    padding:2rem;
    border:2px white solid;
}
#temp-disp{
    align-self: bottom left;
}
.weather-info{
    font-size:xx-large;

}
#wind{
    align-self: flex-end;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#wind-speed{
    text-align: center;
}
#wind-indicator{
    height:150px;
    width:150px;
    border-radius:75px;
    border:2px solid aliceblue;
    background-color: rgb(22, 19, 209);
}
#forcast-holder { 
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    opacity:0;
    
}
#display{
    display:grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 250px;
    opacity:0; 
    padding:1rem;
    gap:1rem;
}

.daycard {
    background-color: rgb(53, 0, 177);
    height:140px;
    width:140px;
    display:flex;
    flex-direction: column;
    opacity:.8;
    border-radius: 5px;
    border:2px white solid;
    background-position: center;
    background-repeat: no-repeat; 
    align-items: center;
    justify-content: space-between;
    padding:.5rem;
}

.daycard p {
    margin:0 0;
    justify-self: right;
    color:aliceblue;
    font-size:small;
    margin:0px 0px;
    line-height:1rem;
    
}

.daycard>div{
    display:flex;
}
.daycard>p:first-child{
    font-weight: 700;
    font-size:larger;
    padding:10px;
    align-self:flex-start;
}